<form action="/hogwarts" method="post">

  <label for="first-name"> First Name </label>
  <input id='first-name' type='text' name="first_name" required>

  <label for="second-name"> Last Name </label>
  <input id='second-name' type="text" name="second_name" required>

  <label for="house"> Select a house </label>
  <select id='house' name="house">
    <option value="Gryffindor">Gryffindor</option>
    <option value="Ravenclaw">Ravenclaw</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Slytherin">Slytherin</option>
  </select>

  <label for="age"> Age </label>
  <input type="text" name="age" required>

  <input type="submit" value="Create Student">

</form>
